<!DOCTYPE html>
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Site.Params.about.title }}</h1>
          <h4>{{ .Site.Params.about.subtitle }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
<div class="container">
    <div class="row flex-parent">
      <div class="col-md-7">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.about.intro }}</h2>
			<h3>{{ .Site.Params.about.italic }}</p>
          </div>
          <p>{{ .Site.Params.about.paragraph1 }}</p>
		  <p>{{ .Site.Params.about.paragraph2 }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 flex-child">
        <div class="block">
          <img src="/img/carnmoreface720px.jpg" srcset="/img/carnmoreface360px.jpg 360w, /img/carnmoreface720px.jpg 720w, /img/carnmoreface1298px.jpg 1298w, /img/carnmoreface1440px.jpg 1440w" alt="Phil Stevens">
		</div>
      </div><!-- .col-md-5 close -->
    </div>
	<div class="body">
		<h2>A Brief History<h2>
		<p>I started hillwalking as a kid, and as a teenager I moved on to rock climbing on my local sandstone outcrops on the Kent/Sussex border. I have fond memories of a trip into London on the train to buy enough gear to set up top-ropes... It all seemed pretty epic at the time, and the learning curve was steep! Fortunately I survived these early forays on rock, and it seems like I've barely stopped climbing since.<p>
		<p>Over the years I've built up a good working knowledge of the majority of climbing areas in the UK. I'm particularly familiar with classic West Highland destinations like Glencoe, the Skye Cuillin and Ben Nevis, but I've also spent plenty of time across Scotland, in Wales and down in the South West. If you have a destination in mind and want a guide, get in touch - if I can't help, I will always try to point you towards someone who can.<p>
		<p>Climbing trips with friends have now taken me all over the world, and the list of places to visit seems to get longer rather than shorter. Most recently I`ve been spending lots of time in the European Alps with a view to becoming a British Mountain Guide - I was recently accepted onto the intital stages of their training scheme, so watch this space!<p>
		<p>I'm often known as Chucky - when I was nine I had a strong resemblance to a children's cartoon character of the time... The name stuck, and pretty much everyone calls me Chucky these days - even my girlfriend Emily, and several members of my family! That said, if you prefer Phil then I'm happy with that name too.<p>
	</div>	
</div>
</section>