<!DOCTYPE html>
{{ with .Site.Params.contact }}
<section id="contact-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .title }}</h1>
          <h4>{{ .subtitle1 }}</h4>
		  <h4>{{ .subtitle2 }}</h4>
		  <h4>{{ .subtitle3 }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row" id="contact-intro1">
	<h5>{{ .intro1}}</h5>
	</div>
  <div class="row">
      <form action="/thanks" name="philstevensguiding-contact" method="POST" netlify-honeypot="hpfield" data-netlify-recaptcha="true" data-netlify="true">
	  <div class="col-md-6 col-sm-12">
        <div class="block">
            <div class="hidden">
			<label>Don't fill this field in if you're a human<input name="hpfield"></label>
			</div>
			<div class="form-group">
              <input type="text" name="Name" class="form-control" placeholder="Your name">
            </div>
            <div class="form-group">
              <input type="text" name="_replyto" class="form-control" placeholder="Your email">
            </div>
			<div class="form-group">
              <input type="text" name="tel" class="form-control" placeholder="Your telephone number">
            </div>
            <div class="form-group">
			  <textarea name="subject" class="form-control" rows="3" placeholder="Reason for your enquiry"></textarea>
            </div>
         </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
            <div class="form-group">
              <textarea name="Message" class="form-control" rows="3" placeholder="Further information - for example, your aims/abjectives, the size of your party, when you are looking to book"></textarea>
            </div>
            <div class="form-group" style="text-align: center" data-netlify-recaptcha="true"></div>
			<div class="form-group">
				<button class="btn btn-default" type="submit">{{ .form.button }}</button>
			</div>
        </div>
      </div>
	  </form>
    </div>
    <div class="row contact-lower-page" style="overflow:hidden">
      <div class="contact-box col-md-6 col-sm-12">
        <div class="block">

          <h3>{{ .box.title }}</h3>
          <div class="address-block" style="width:100%">
			<div class="contact-details-row">
			<div class="col-xs-1">
			<a class="contact-btn social-btn-location" rel="noopener" href="{{ .box.addresslink }}" target="_blank">
			<i class="ion-android-pin"></i></a>
			</div>
			<div class="col contact-details">
			<a rel="noopener" href="{{ .box.addresslink }}" target="_blank">{{ .box.address }}</a>
			</div>
			</div>
			<div class="contact-details-row">
			<div class="col-xs-1">
			<a class="contact-btn social-btn-mail" rel="noopener" href="mailto:info@philstevensguiding.com" target="_blank">
			<i class="ion-email"></i></a>
			</div>
			<div class="col contact-details">
			<a rel="noopener" href="mailto:info@philstevensguiding.com" target="_blank">{{ .box.email }}</a>
			</div>
			</div>
			<div class="contact-details-row">
			<div class="col-xs-1">
			<a class="contact-btn social-btn-call" rel="noopener" href="tel:00447908589620" target="_blank">
			<i class="ion-ios-telephone"></i></a>
			</div>
			<div class="col contact-details">
			<a rel="noopener" href="tel:00447908589620" target="_blank">{{ .box.phone }}</a>
			</div>
			</div>
			</div>
			<div class="contact-social-container">
			<div class="contact-social-col col-md-6"><a class="contact-social-btn contact-btn-facebook" rel="noopener" href="https://www.facebook.com/philstevensguiding/about/" target="_blank">
				<span>Find us on </span><img class="facebook-logo" src="/img/logos/facebook-comp.png" alt="facebook"></a>
			</div>
			<div class="contact-social-col col-md-6"><a class="contact-social-btn contact-btn-instagram" rel="noopener" href="https://www.instagram.com/philjstevens/?utm_source=ig_embed" target="_blank">
				<span>@philjstevens on </span><img class="instagram-logo" src="/img/logos/instagram-comp.png" alt="instragram-logo"></a></li>
		  </div>
		  </div>
		 </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmap}}
        <div class="block g-map">
            <div class="embed-responsive embed-responsive-16by9 google-map">
                <iframe class="embed-responsive-item" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4447538.276072549!2d-9.957629810430594!3d57.02330552989815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40095fdd75d20072!2sPhil%20Stevens%20Guiding!5e0!3m2!1sen!2suk!4v1589821821832!5m2!1sen!2suk" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}