<!-- favicons can go here -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href={{"/img/favicons/apple-touch-icon-144x144.png"| absURL }}/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href={{"/img/favicons/apple-touch-icon-152x152.png"| absURL }}/>
<link rel="icon" type="image/png" href={{"/img/favicons/favicon-32x32.png"| absURL }} sizes="32x32" />
<link rel="icon" type="image/png" href={{"/img/favicons/favicon-16x16.png"| absURL }} sizes="16x16" />
<meta name="application-name" content="Phil Stevens Guiding"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content={{"/img/favicons/stile-144x144.png"| absURL }} />
