<!DOCTYPE html>
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-7">
      <h2>{{ .Site.Params.feature.title }}</h2>
      <h5>{{ .Site.Params.feature.paragraph1 }}</h5>
	  <h5>{{ .Site.Params.feature.paragraph2 }}</h5>
      </div><div class="about-button col-md-5 col-md-offset-7">
	  {{ with .Site.Params.feature.button }}
      	<a href="{{ .url }}" class="btn btn-default btn-about">{{ .caption }}</a>
      {{ end }}
    </div>
  </div>
</div>
</section>