<!DOCTYPE html>
<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
		<p>Copyright &copy; Design &amp; Developed by Themefisher. All rights reserved. All photos copyright &copy; Philip Stevens unless otherwise credited.</p>
      </div>
    </div>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src={{"js/bootstrap.min.js" | absURL }}></script>
{{ if eq .Params.owl true }}
<script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = {{"js/owl.carousel.min.js" | absURL }};
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
<link rel="stylesheet" href={{"css/owl.carousel.min.css"| absURL }} />
{{ end }}
<script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = {{"js/plugins.min.js" | absURL }};
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>