<!DOCTYPE html>
<!-- footer Start -->
<footer>
  <div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
		</div>
    </div>
		<div class="social-btns-container row">
	<div class="social-btns">
    	<a class="social-btn social-btn-facebook" rel="noopener" href="https://www.facebook.com/philstevensguiding/about/" target="_blank">
			<i class="ion-social-facebook"></i><span class="button-text">Facebook</span>
		</a>
		<a class="social-btn social-btn-google" rel="noopener" href="https://www.google.com/maps/uv?hl=en&pb=!1s0x488943bfea76e45f%3A0x40095fdd75d20072!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipO3LVIoAM80_qoAo4NOBuV6jzUxdmyOuO3qfyO-%3Dw213-h160-k-no!5sphil%20stevens%20guiding%20-%20Google%20Search!15sCAQ&imagekey=!1e10!2sAF1QipO3LVIoAM80_qoAo4NOBuV6jzUxdmyOuO3qfyO-&sa=X&ved=2ahUKEwjK1aiH_r3pAhXloFwKHa9vBzQQoiowE3oECA8QBg" target="_blank">
			<i class="ion-social-google"></i><span class="button-text">Google</span>
		</a>
		<a class="social-btn social-btn-instagram" rel="noopener" href="https://www.instagram.com/philjstevens/?utm_source=ig_embed" target="_blank">
			<i class="ion-social-instagram"></i><span class="button-text">Instagram</span>
		</a>
		<a class="social-btn social-btn-mail" rel="noopener" href="mailto:info@philstevensguiding.com" target="_blank">
			<i class="ion-email"></i><span class="button-text">Email</span>
		</a>
		<a class="social-btn social-btn-call" rel="noopener" href="tel:00447908589620" target="_blank">
			<i class="ion-ios-telephone"></i><span class="button-text">Call</span>
		</a>
	</div>
	</div>
 

	<div class="row"><p>Copyright &copy; Design &amp; Developed by Themefisher. All rights reserved. All photos copyright &copy; Philip Stevens unless otherwise credited.</p></div>
  </div>
</footer>
<script defer src={{"js/lazyload.iife.min.js" | absURL }}></script>
<script type="text/javascript">
var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
	use_native: true
});
</script>
