<!DOCTYPE html>
<!-- Service Start -->
<section id="service">
  <div class="container">
    
    <!-- Intro -->
    <div class="row">
      <div class="upper-section-title">
        <h2>{{ .Site.Params.service.title}}</h2>
        <h5>{{ .Site.Params.service.subtitle1}}</h5>
		<h5>{{ .Site.Params.service.subtitle2}}</h5>
      </div>
    </div>
    <!-- Content -->
	    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
      		<picture>
			 <source type="image/webp" data-srcset="img/icons/ridge270px.webp 270w, img/icons/ridge540px.webp 2x">
			<source type="image/jpeg" data-srcset="img/icons/ridge270px.jpg 270w, img/icons/ridge540px.jpg 2x">
			<img class="lazy" loading="lazy" src="img/icons/ridge540px.jpg" alt="Mid-Traverse" data-src="img/icons/ridge540px.jpg" data-srcset="img/icons/ridge270px.jpg 270w, img/icons/ridge540px.jpg 540w">
			</picture>
			 <h3>Cuillin Ridge Traverse</h3>
          <p>Often underestimated, seldom outclassed - one of the finest mountaineering challenges anywhere</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          	<picture>
			 <source type="image/webp" data-srcset="img/icons/olly270px.webp 270w, img/icons/olly540px.webp 2x">
			<source type="image/jpeg" data-srcset="img/icons/olly270px.jpg 270w, img/icons/olly540px.jpg 2x">
			<img class="lazy" loading="lazy" src="img/icons/olly540px.jpg" alt= "Diamond Face Route, Old Man of Stoer" data-src="img/icons/olly270px.jpg" data-srcset="img/icons/olly270px.jpg 270w, img/icons/olly540px.jpg 540w">
		   <picture>
		   <h3>North West Sea Stacks</h3>
          <p>Vertical journeys packed with adventure - technical climbing, exciting abseils and massice exposure</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
           <picture>
		    <source type="image/webp" data-srcset="img/icons/ae270px.webp 270w, img/icons/ae540px.webp 2x">
			<source type="image/jpeg" data-srcset="img/icons/ae270px.jpg 270w, img/icons/ae540px.jpg 2x">
		    <img class="lazy" loading="lazy" src="img/icons/ae540px.jpg" alt="Aonach Eagach, Glencoe" data-src="img/icons/ae540px.jpg">
		   </picture>
		   <h3>Scrambling in Glencoe</h3>
          <p>Discover the joy of moving fast over technical terrain on classic easy routes like Curved Ridge</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture>
		    <source type="image/webp" data-srcset="img/icons/gilleanchimney270px.webp 270w, img/icons/gilleanchimney540px.webp 2x">
			<source type="image/jpeg" data-srcset="img/icons/gilleanchimney270px.jpg 270w, img/icons/gilleanchimney540px.jpg 2x">
		    <img class="lazy" loading="lazy" src="img/icons/gilleanchimney540px.jpg" alt="West Chimney, Sgurr nan Gillean" data-src="img/icons/gilleanchimney540px.jpg">
		   </picture>
			 <h3>Simple Ropework for Mountaineers</h3>
          <p>Rope faff a problem? Learn to add safety using the rope, without sacrificing valuable time</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture>
		   <source type="image/webp" data-srcset="img/icons/pinn270px.webp 270w, img/icons/pinn540px.webp 2x">
			<source type="image/jpeg" data-srcset="img/icons/pinn270px.jpg 270w, img/icons/pinn540px.jpg 2x">
		  <img class="lazy" loading="lazy" src="img/icons/pinn540px.jpg" alt="Inaccessible Pinnacle, Sgurr Dearg" data-src="img/icons/pinn270px.jpg" data-srcset="img/icons/pinn270px.jpg 270w, img/icons/pinn540px.jpg 540w">
			 </picture>
			 <h3>Skye Munros</h3>
          <p>First-class exposed mountain scrambling, and of course, the famous Inaccessible Pinnacle</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture>
		   <source type="image/webp" data-srcset="img/icons/lead270px.webp 270w, img/icons/lead540px.webp 2x">
			<source type="image/jpeg" data-srcset="img/icons/lead270px.jpg 270w, img/icons/lead540px.jpg 2x">
		  <img class="lazy" src="img/icons/lead540px.jpg" alt="Ardverikie Wall, Binnein Shuas" data-src="img/icons/lead270px.jpg" data-srcset="img/icons/lead270px.jpg 270w, img/icons/lead540px.jpg 540w">
				</picture>
			   <h3>Learn to Lead</h3>
          <p>Transfer your indoor climbing skills onto real rock and learn how to trad climb</p>
        </div>
      </div>	  
	</div>
</section>