<!DOCTYPE html>
<!-- Service Start -->
<section id="service">
  <div class="container">
    
    <!-- Intro -->
    <div class="row">
      <div class="upper-section-title">
        <h2>{{ .Site.Params.service.title}}</h2>
        <h5>{{ .Site.Params.service.subtitle1}}</h5>
		<h5>{{ .Site.Params.service.subtitle2}}</h5>
      </div>
    </div>
    <!-- Content -->
	    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
      		<picture> 
			<source media="(max-width: 767px)" srcset="img/icons/ridge540px.jpg" >
			<source media="(min-width: 768px)" srcset="img/icons/ridge270px.jpg, img/icons/ridge540px.jpg 2x">
			<img src="img/icons/ridge540px.jpg" alt="Mid-Traverse";>
			</picture>
		  <h4>Cuillin Ridge Traverse</h4>
          <p>Often underestimated, seldom outclassed - one of the finest mountaineering challenges in the British Isles</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture> 
			<source media="(max-width: 767px)" srcset="img/icons/olly540px.jpg" >
			<source media="(min-width: 768px)" srcset="img/icons/olly270px.jpg, img/icons/olly540px.jpg 2x">
			<img src="img/icons/olly540px.jpg" alt="Diamond Face Route, Old Man of Stoer";>
		  </picture>
		  <h4>North West Sea Stacks</h4>
          <p>Vertical journeys packed with adventure - technical climbing, exciting abseils and massice exposure</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture> 
			<source media="(max-width: 767px)" srcset="img/icons/ae540px.jpg" >
			<source media="(min-width: 768px)" srcset="img/icons/ae270px.jpg, img/icons/ae540px.jpg 2x">
			<img src="img/icons/ae540px.jpg" alt="Aonach Eagach, Glencoe";>
		  </picture>
		  <h4>Scrambling in Glencoe</h4>
          <p>Discover the joy of moving fast over technical terrain on classic routes like Curved Ridge and the Aonach Eagach</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture> 
			<source media="(max-width: 767px)" srcset="img/icons/gilleanchimney540px.jpg" >
			<source media="(min-width: 768px)" srcset="img/icons/gilleanchimney270px.jpg, img/icons/gilleanchimney540px.jpg 2x">
			<img src="img/icons/gilleanchimney540px.jpg" alt="West Chimney, Sgurr nan Gillean";>
		  </picture>
		  <h4>Simple Ropework for Mountaineers</h4>
          <p>Rope faff a problem? Learn to add safety using the rope, without sacrificing valuable time</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture> 
			<source media="(max-width: 767px)" srcset="img/icons/pinn540px.jpg" >
			<source media="(min-width: 768px)" srcset="img/icons/pinn270px.jpg, img/icons/pinn540px.jpg 2x">
			<img src="img/icons/pinn540px.jpg" alt="Inaccessible Pinnacle, Sgurr Dearg";>
		  </picture>
		  <h4>Skye Munros</h4>
          <p>First-class exposed mountain scrambling, and of course, the famous Inaccessible Pinnacle</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <picture> 
			<source media="(max-width: 767px)" srcset="img/icons/lead540px.jpg" >
			<source media="(min-width: 768px)" srcset="img/icons/lead270px.jpg, img/icons/lead540px.jpg 2x">
			<img src="img/icons/lead540px.jpg" alt="Ardverikie Wall, Binnein Shuas";>
          <h4>Learn to Lead</h4>
          <p>Transfer your indoor climbing skills onto real rock and learn how to trad climb</p>
        </div>
      </div>	  
	</div>
</section>