<!DOCTYPE html>
<!-- Service Start -->
<section id="service">
  <div class="container">
    
    <!-- Intro -->
    <div class="row">
      <div class="section-title" id="upper-title">
        <h2>{{ .Site.Params.service.title}}</h2>
        <h5>{{ .Site.Params.service.subtitle}}</h5>
      </div>
    </div>
    <!-- Content -->
	    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/ridge1298.jpg" alt="Mid-Traverse">
          <h4>Cuillin Ridge Traverse</h4>
          <p>Often underestimated, seldom outclassed - one of the finest mountaineering challenges in the British Isles</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/olly1298.jpg" alt="Diamond Face Route, Old Man of Stoer">
          <h4>North West Sea Stacks</h4>
          <p>Vertical journeys packed with adventure - technical climbing, exciting abseils and massice exposure</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/ae1298.jpg" alt="Aonach Eagach, Glencoe">
          <h4>Scrambling in Glencoe</h4>
          <p>Discover the joy of moving fast over technical terrain on classic routes like Curved Ridge and the Aonach Eagach</p>
        </div>
      </div>
	 	  	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/gilleanchimney.jpg" alt="West Chimney, Sgurr nan Gillean">
          <h4>Ropework for Mountaineering</h4>
          <p>Rope faff a problem? Learn to add safety using the rope, without sacrificing valuable time</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/pinn1298.jpg" alt="Inaccessible Pinnacle, Sgurr Dearg">
          <h4>Skye Munros</h4>
          <p>First-class exposed mountain scrambling, and of course, the famous Inaccessible Pinnacle</p>
        </div>
      </div>
	  <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/lead1298.jpg" alt="Ardverikie Wall, Binnein Shuas">
          <h4>Learn to Lead</h4>
          <p>Transfer your indoor climbing skills onto real rock and learn how to trad climb</p>
        </div>
      </div>
	  
	</div>
	
	  <!-- Lower Text -->
    <div class="row">
      <div class="section-title" id="lower-title" style="color:#4A4A4A">
        <h2>{{ .Site.Params.service.lowertitle}}</h2>
        <h5>{{ .Site.Params.service.lowersubtitle}}</h5>
      </div>
    </div>
	
		<!-- Lower Images -->
	<div class="row">
	 <div class="col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/jo1298.jpg" alt="Sgurr a Mhaim, Mamores">
          <h4>Winter Skills</h4>
          <p>The knowledge and experience to get you started as a safe and independent winter hill-goer</p>
        </div>
      </div>
	<div class="col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/adam1298.jpg" alt="Elide Canyon, Glencoe">
          <h4>Winter Climbing</h4>
          <p>Come and hone your steep ice and mixed climbing skills on some of the finest winter routes in the UK</p>
        </div>
      </div>
	 	 <div class="col-md-4">
        <div class="service-item">
          <img width="75%" src="/img/icons/ledgecrop.jpg" alt="Elide Canyon, Glencoe">
          <h4>Winter Mountaineering</h4>
          <p>Big, fast-moving journeys through technical graded terrain, up soaring ridges and classic gullies</p>
        </div>
      </div>
  </div>
</section>