<!DOCTYPE html>
<div class="social-floating-bar hidden-xs">
     <a class="social-btn social-btn-facebook" rel="noopener" href="https://www.facebook.com/philstevensguiding/about/" target="_blank">
			<i class="ion-social-facebook"></i>
		</a>
		<a class="social-btn social-btn-google" rel="noopener" href="https://www.google.com/maps/uv?hl=en&pb=!1s0x488943bfea76e45f%3A0x40095fdd75d20072!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipO3LVIoAM80_qoAo4NOBuV6jzUxdmyOuO3qfyO-%3Dw213-h160-k-no!5sphil%20stevens%20guiding%20-%20Google%20Search!15sCAQ&imagekey=!1e10!2sAF1QipO3LVIoAM80_qoAo4NOBuV6jzUxdmyOuO3qfyO-&sa=X&ved=2ahUKEwjK1aiH_r3pAhXloFwKHa9vBzQQoiowE3oECA8QBg" target="_blank">
			<i class="ion-social-google"></i>
		</a>
		<a class="social-btn social-btn-instagram" rel="noopener" href="https://www.instagram.com/philjstevens/?utm_source=ig_embed" target="_blank">
			<i class="ion-social-instagram"></i>
		</a>
</div>