<!DOCTYPE html>
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Site.Params.thanks.title }}</h1>
          <h4>{{ .Site.Params.thanks.subtitle }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="thanks">
<div class="container">
    <div class="row">
        <div class="block">
          <div>
			<a class="link-h2" href="{{ $.Site.BaseURL }}">Back to homepage</a>
	      </div>
        </div>
    </div>
</div>
</section>