<!DOCTYPE html>
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Site.Params.thanks.title }}</h1>
          <h4>{{ .Site.Params.thanks.subtitle }}</h4>
          <a class="btn btn-default btn-call-to-action" href=".BaseURL" >{{ .Site.Params.thanks.caption }}</a>
          </div>
      </div>
    </div>
  </div>
</section>
<section id="thanks">
<div class="container">
    <div class="row">
        <div class="block">
          	<h5>{{ .Site.Params.thanks.paragraph }}<h5>
	    </div>
    </div>
</div>
</section>