<!DOCTYPE html>
<!-- Wrapper Start -->
<section id="wrapper">
  <div class="container">
    <div class="row flex-parent">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ .Site.Params.wrapper.italic }}</p>
          </div>
          <p>{{ .Site.Params.wrapper.paragraph }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12 flex-child">
        <div class="block">
          <picture>
			<source media="(max-width: 767px)" srcset="img/skyenarrow680px.jpg, img/skyenarrow1298px.jpg 2x"> 
			<source media="(min-width: 768px; max-width: 991px)" srcset="img/skyenarrow630px.jpg, img/skyenarrow1298px.jpg 2x">
		    <source media="(min-width: 992px)" srcset="img/skyenarrow630px.jpg, img/skyenarrow1298px.jpg 2x">
		    <img src="img/skyenarrow438px.jpg" alt="Guiding in the Black Cuillin">
		  </picture>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>