<!DOCTYPE html>
<!-- Wrapper Start -->
<section id="wrapper">
  <div class="container">
    <div class="row flex-parent">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Professional mountain guiding and mountaineering instruction</h2>
            <h5>Whether you'd like to learn how to move safely and quickly through technical terrain, want guiding along a long complex adventure like the Skye Cuillin, or need some coaching to break into the next climbing grade, Phil Stevens Guiding can help you achieve your goals in the mountains.</h5>
            <h5>As an aspirant British Mountain Guide and an MCI, I offer <i>bespoke private guiding and instruction</i> with objectives and content tailored to meet your needs. After all, everyone's different. If you'd like to talk more about your aspirations or make a booking, please get in touch.</h5>
		  </div></div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
         <picture>
			<source media="(max-width: 767px)" type="image/webp" data-srcset="img/skynarrow438px.webp 438w, img/skyenarrow680px.webp 680w, img/skyenarrow876px.webp 876w, img/skyenarrow1298px.webp 2x"> 
			<source media="(max-width: 767px)" type="image/jpeg" data-srcset="img/skynarrow438px.jpg 438w, img/skyenarrow680px.jpg 680w, img/skyenarrow876px.jpg 876w, img/skyenarrow1298px.jpg 2x"> 
			<source media="(min-width: 768px; max-width: 991px)" type="image/webp" data-srcset="img/skyenarrow630px.webp 630w, img/skyenarrow876px.webp 876w, img/skyenarrow1298px.webp 2x">
			<source media="(min-width: 768px; max-width: 991px)" type="image/jpeg" data-srcset="img/skyenarrow630px.jpg 630w, img/skyenarrow876px.jpg 876w, img/skyenarrow1298px.jpg 2x">
		    <source media="(min-width: 992px)" type="image/webp" data-srcset="img/skyenarrow630px.webp 630w, img/skyenarrow1298px.webp 2x">
			<source media="(min-width: 992px)" type="image/jpeg" data-srcset="img/skyenarrow630px.jpg 630w, img/skyenarrow1298px.jpg 2x">
			 <img src="img/skyenarrow438px.jpg" alt="Guiding in the Black Cuillin">
		  </picture>
		</div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>