<!DOCTYPE html>
<!-- Wrapper Start -->
<section id="wrapper">
  <div class="container">
    <div class="row flex-parent">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ .Site.Params.wrapper.italic }}</p>
          </div>
          <p>{{ .Site.Params.wrapper.paragraph }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12 flex-child">
        <div class="block">
         <img class="lazy" loading="lazy" src="img/skyenarrow438px.jpg" alt="Guiding in the Black Cuillin" data-src="img/skyenarrow438px.jpg" data-srcset="img/skyenarrow438px.jpg 438w, img/skyenarrow680px.jpg 680w, img/skyenarrow1298px.jpg 1298w">
		</div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>